@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Medisen</title>
</head>
<body>

    <main class="d-flex justify-content-center" style="height: 100vh;background-image: url(/images/physician-medical-robe-with-stethoscope.jpg);background-size: cover;">
        <div class="overlay"
             style="height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);"></div>
        <nav class="navbar w-100 fixed-top">
            <div class="container-fluid">
                <div>
                    <a asp-controller="Home" asp-action="Index" class="text-nowrap logo-img text-center d-block py-3 w-100">
                        <img src="/images/logos/logo.png" width="180" alt="">
                    </a>
                </div>
                <div class="d-flex">
                    <a asp-controller="Home" asp-action="Login" style="text-decoration: none;color:white;" class="m-2"><b>LOGIN</b></a>
                    <a asp-controller="Home" asp-action="Register" style="text-decoration: none;color: white;" class="m-2"><b>REGISTER</b></a>
                </div>
            </div>
        </nav>
        <div class="align-self-center w-50 text-center" style="z-index: 1;">
            <h1 style="color: white;"><b>WELCOME!</b></h1>
            <p style="color: rgba(255, 255, 255, 0.901);"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti itaque repellendus cum molestias atque quibusdam ducimus provident, incidunt, sunt id quasi qui sapiente inventore eos voluptatem placeat voluptatibus quisquam error!</em></p>
            <Button class="btn btn-primary">Make Appointment</Button>
        </div>
    </main>
</body>
</html>