<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Pages</span>
        </li>
        <li class="sidebar-item">
            <a asp-controller="Doctor" asp-action="Index" class="sidebar-link" aria-expanded="false">
                <span>
                    <i class="ti ti-home"></i>
                </span>
                <span class="hide-menu">Home</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" data-bs-toggle="collapse" href="#appo" aria-expanded="false" aria-controls="tables">
                <span>
                    <i class="ti ti-checkup-list"></i>
                </span>
                <span class="menu-title">My Appointments</span>
                <i class="ti ti-chevron-right"></i>
            </a>
            <div class="collapse" id="appo">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a asp-controller="Doctor" asp-action="AppointmentList" class="nav-link">Appointments</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a asp-controller="Doctor" asp-action="PastAppointmentList" class="nav-link">Past Appointments</a></li>
                </ul>
            </div>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" data-bs-toggle="collapse" href="#schedule" aria-expanded="false" aria-controls="tables">
                <span>
                    <i class="ti ti-checkup-list"></i>
                </span>
                <span class="menu-title">Schedule</span>
                <i class="ti ti-chevron-right"></i>
            </a>
            <div class="collapse" id="schedule">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a asp-controller="Doctor" asp-action="Schedule" class="nav-link">My Schedule</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a asp-controller="Doctor" asp-action="LeaveRequest" class="nav-link">Leave Requests</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a asp-controller="Doctor" asp-action="OffDays" class="nav-link">Permissions</a></li>
                </ul>
            </div>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                <span>
                    <i class="ti ti-settings-2"></i>
                </span>
                <span class="hide-menu">Settings</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a asp-controller="Login" asp-action="Logout" class="sidebar-link alert alert-secondary" aria-expanded="false">
                <span>
                    <i class="ti ti-logout"></i>
                </span>
                <span class="hide-menu">Logout</span>
            </a>
        </li>
    </ul>
</nav>