@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-3">
        <div class="card alert alert-light">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Doctors</h5>
                <div class="row align-items-center">
                    <div class="col-8">
                        <h1>2</h1>
                    </div>
                    <div class="col-4">
                        <i style="    color: #5D87FF;
                                        font-size: xxx-large;
                                        padding: 10px;
                                        background: aliceblue;" 
                            class="ti ti-users btn-primary w-100">
                        </i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Sample Page</h5>
                <p class="mb-0">This is a sample page </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Sample Page</h5>
                <p class="mb-0">This is a sample page </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Sample Page</h5>
                <p class="mb-0">This is a sample page </p>
            </div>
        </div>
    </div>
</div>