main {
    height: 100vh;
}

.full-menu {
    border-right: 2px solid #e1e1e1;
}

.menu .list-group .list-group-item {
    border: none;
}

    .menu .list-group .list-group-item .active::after {
    }

.head-section {
    background-color: rgb(220, 240, 246);
}
