@model List<DayOff>
@{
    Layout = "_DoctorLayout";
}

<div class="card alert alert-secondary">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Off Days</h5>
        @foreach(var item in Model)
        {
            if(item.EndDate > DateTime.Now)
            {
                <div class="card mt-3 p-0">
                    <div class="card-header d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#Collapse@(item.Id.ToString())" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                        @if (item.IsApproved == State.Approved)
                        {
                            <span class="badge bg-success rounded-3 fw-semibold">Approved</span>
                        }
                        else if (item.IsApproved == State.NotApproved)
                        {
                            <span class="badge bg-danger rounded-3 fw-semibold">Not Approved</span>
                        }
                        else if (item.IsApproved == State.Waiting)
                        {
                            <span class="badge bg-warning rounded-3 fw-semibold">Waiting</span>
                        }
                        <span>
                            <b>Date:</b> @item.StartDate.ToShortDateString() - @item.EndDate.ToShortDateString()
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-caret-down"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6 10l6 6l6 -6h-12" /></svg>
                    </div>
                    <div style="padding:20px" class="card-body collapse multi-collapse " id="Collapse@(item.Id.ToString())">
                        <label class="fw-larger p-1"><b>Reason:</b></label>
                        <textarea style="border: none;width: 100%;height:100px;margin-top:15px" class="p-3 mb-2" disabled>@item.Reason</textarea>
                        <form method="post" asp-controller="Doctor" asp-action="OffDays">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button class="btn btn-danger btn-sm w-100" type="submit">Cancel the Permission</button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>
